<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/mydsl1/T2"
			class = "org.xtext.example.mydsl1.t2.T2Package"
			genModel = "model/generated/T2.genmodel" />
	</extension>
</plugin>
